https://www.efeichn.wang:8125 {      
    tls /home/pi/.homeassistant/ssl/efeichn.wang.crt /home/pi/.homeassistant/ssl/efeichn.wang.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.2:8124 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}
 
https://www.efeichn.wang:1881 {      
    tls /home/pi/.homeassistant/ssl/efeichn.wang.crt /home/pi/.homeassistant/ssl/efeichn.wang.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.2:1880 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}

https://www.efeichn.wang:3001 {      
    tls /home/pi/.homeassistant/ssl/efeichn.wang.crt /home/pi/.homeassistant/ssl/efeichn.wang.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.2:3002 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}

https://www.efeichn.wang:8890 {      
    tls /home/pi/.homeassistant/ssl/efeichn.wang.crt /home/pi/.homeassistant/ssl/efeichn.wang.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.8:8889 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}
