https://www.efeichn.top:8125 {      
    tls /home/pi/.homeassistant/ssl/efeichn.top.crt /home/pi/.homeassistant/ssl/efeichn.top.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.140:8124 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}
 
https://www.efeichn.top:8890 {      
    tls /home/pi/.homeassistant/ssl/efeichn.top.crt /home/pi/.homeassistant/ssl/efeichn.top.key {                            
        alpn http/1.1                                                    
    }                                                                    
    proxy / 192.168.88.140:8889 {                                            
        transparent                                                      
        websocket                                                        
    }                                                                    
    log stdout                                                         
    errors stderr                                                      
}
:80 {
    root /home/pi/.homeassistant
    gzip
    browse 
    log stdout                                                         
    errors stderr                                                      
}
